{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
{% endblock %}
{% block title %}Hello Home!
{% endblock %}
{% block body %}
    {% include 'header.html.twig' %}
 
    <h1>Créer un livre</h1>
    {{ form_start(form) }}
    {{ form_label(form.title) }}
    {{ form_widget(form.title) }}
    <div class="form-error">{{ form_errors(form.title) }}</div>
 
    {{ form_label(form.ISBN) }}
    {{ form_widget(form.ISBN) }}
    <div class="form-error">{{ form_errors(form.ISBN) }}</div>
 
    {{ form_label(form.price) }}
    {{ form_widget(form.price) }}
    <div class="form-error">{{ form_errors(form.price) }}</div>
 
    {{ form_label(form.author) }}
    {{ form_widget(form.author) }}
    <div class="form-error">{{ form_errors(form.author) }}</div>
 
    {{ form_label(form.editorid) }}
    {{ form_widget(form.editorid) }}
    <div class="form-error">{{ form_errors(form.editorid) }}</div>
 
 
    <button type="submit" class="btn btn-success">Créer</button>
    {{ form_end(form) }}
 
{% endblock %}